.title {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
.container {
    box-sizing: border-box;
    border: solid green;
    text-align: left;
    width: 400px;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
header {
    width: 100%;
}
.head {
    text-align: center;
}